<!DOCTYPE html>
<html lang="en">
  <head>
    <!--
      Site created by Brian Design on youtube @ www.youtube.com/channel/UCsKsymTY_4BYR-wytLjex7A?view_as=subscriber
    -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTML CSS Website</title>
    <link rel="stylesheet" href="static/styles.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Navbar Section -->
    <nav class="navbar">
      <div class="navbar__container">
        <!--<a href="/" id="navbar__logo"><i class="fas fa-gem"></i></a>-->
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span> <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <a href="/" class="navbar__links">Home</a>
          </li>
          <li class="navbar__item">
            <a href="/tech" class="navbar__links">Tech</a>
          </li>
          <li class="navbar__item">
            <a href="/" class="navbar__links">Products</a>
          </li>
          <li class="navbar__btn"><a href="/" class="button">Sign Up</a></li>
        </ul>
      </div>
    </nav>

    <!-- Hero Section -->
    <div class="main">
      <div class="main__container">
        <div class="main__content">
          <h1>GreenFinDoors</h1>
          <h2>Technology</h2>
          <p>Making finance greener.</p>
          <button class="main__btn" onclick="scrollToSection('sec1')">Get Started</button>
        </div>
        <div class="main__img--container">
          <img id="main__img" src="static/images/main_page.jpeg" />
        </div>
      </div>
    </div>

    <!--service Section -->
    <div id = "sec1" class="services">
      <h1>We can assist you with: </h1>
      <div class="services__container">
        <div class="services__card">
          <h2>Loan Sanctioning and Approval</h2>
          <p>AI Powered technology</p>
          
            <button onclick="redirectToLoan()">loan</button>
          
        </div>
        <div class="services__card">
          <h2>Financial Investment Assistance</h2>
          <p>Predictive Analysis on your fingertips.</p>
          <form method="get" action="{{ url_for('invest') }}">
            <button type="submit">invest</button>
          </form>
        </div>
      </div>
    </div>

    <!--Footer Section -->
    <div class="footer__container">
      <div class="footer__links">
        <div class="footer__link--wrapper">
          <div class="footer__link--items">
            <h2>About Us</h2>
            <a href="/tech.html">How it works</a> <a href="/testimonials.html">Testimonials</a>
            <a href="/terms.html">Terms of Service</a>
          </div>
          <div class="footer__link--items">
            <h2>Contact Us</h2>
            <a href="/contact.html">Contact</a>
          </div>
        </div>
        <div class="footer__link--wrapper">
          <!--<div class="footer__link--items">
            <h2>Videos</h2>
            <a href="/">Submit Video</a> <a href="/">Ambassadors</a>
            <a href="/">Agency</a> <a href="/">Influencer</a>
          </div>-->
          <div class="footer__link--items">
            <h2>Social Media</h2>
            <a href="https://www.instagram.com/greenfindoors">Instagram</a>
            <a href="https://www.youtube.com/watch?v=IpIwm_BYZiQ">Youtube</a>
          </div>
        </div>
      </div>
      <section class="social__media">
        <div class="social__media--wrap">
          <div class="footer__logo">
            <!--<a href="/" id="footer__logo"><i class="fas fa-gem"></i>NEXT</a>-->
          </div>
          <p class="website__rights">© GFD 2023. All rights reserved</p>
          <div class="social__icons">
            <a
              class="social__icon--link"
              target="_blank"
              aria-label="Facebook"
            >
              <i class="fab fa-facebook"></i>
            </a>
            <a
              class="social__icon--link"
              target="_blank"
              aria-label="Instagram"
            >
              <i class="fab fa-instagram"></i>
            </a>
            <a
              class="social__icon--link"
              target="_blank"
              aria-label="Youtube"
            >
              <i class="fab fa-youtube"></i>
            </a>
            <a
              class="social__icon--link"
              target="_blank"
              aria-label="Twitter"
            >
              <i class="fab fa-twitter"></i>
            </a>
            <a
              class="social__icon--link"
              target="_blank"
              aria-label="LinkedIn"
            >
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
        </div>
      </section>
    </div>
    <script src="app.js"></script>
    <script>
      function scrollToSection(sectionId) {
        var section = document.getElementById(sectionId);
        if (section) {
            section.scrollIntoView({ behavior: 'smooth' });
        }
      }
      function redirectToLoan() {
        window.location.href = '/loan';
      }
    </script>
  </body>
</html>